body{
    margin:0;
    background-image:url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    margin:0;
}
.container{
    max-width:80vw;
    padding: 20px;
    height:90vh;
    background-color:white;
    margin:2rem auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.top-menu{
    /* border:1px solid grey; */
    padding:10px;
}
#user-input{
    width:60%;
    height:30px;
}
#add{
    width:40px;
    height:40px;
}
.list-container{
    max-height:84%;
    overflow-y:overlay;
    border-bottom:1px solid rgb(218, 218, 218);
}
.list-container::-webkit-scrollbar{
    width:15px;
}
.list-container::-webkit-scrollbar-thumb{
    background-color: #9b7627af;
    border-radius: 20px;
}
.task-tab{
    border:1px solid rgb(218, 218, 218);
    display:flex;
    padding:15px 0;
    position:relative;
}
.task-tab .under-line{
    width:40px;
    height:5px;
    background-color:#60aae7;
    position:absolute;
    left:0;
    top:47px;
    transition: 0.3s ;
}
.task-tab .tab-menu{
    padding:0 10px;
    cursor: pointer;
}
.taskBoard{
    border:1px solid rgb(218, 218, 218);
    border-top: none;
    border-bottom:none;
}
.task{
    display:flex;
    justify-content: space-between;
}
.task-name{
    padding-left:15px;
    width:100%;
    display:flex;
    align-items: center;
    transition:background-color 0.3s;
}
.task-name.task-done{
    background-color:gray;
    text-decoration: line-through;
}
.task .btn-tool{
    margin-right:20px;
    height:60px;
    display:flex;
}
.task #check{
    width: 70px;
    height: 100%;
    background: url(./image/check_ico_01.png) no-repeat;
    background-size: 26px 20px;
    background-position: center;
    cursor: pointer;
    border:0;
    /* border-left:1px solid rgb(218, 218, 218);
    border-right:1px solid rgb(218, 218, 218); */
}
.task #check.reset{
    background-image: url(./image/reset_ico_01.webp);
    background-size:30px 30px;
}
.task #check.reset:hover{
    animation:none;
}
@keyframes check-ani {
    0%{transform:scale(1);}
    50%{transform:scale(1.5);}
    0%{transform:scale(1);}

}
.task #check:hover{
    animation: check-ani 0.5s 1;
}
.task #delete{
    width: 70px;
    height: 100%;
    background: url(./image/delete_ico_01.png) no-repeat;
    background-size: 30px 30px;
    background-position: center;
    cursor: pointer;
    border: 0;
}